@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts-googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  color: #333;
}
body {
  background-color: #ffffff;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.6rem;
  text-align: center;
}
h2 {
  font-size: 3.2rem;
  margin: 5rem 0;
  text-align: center;
}
h3 {
  font-size: 2rem;
}
p,
li {
  font-size: 1.8rem;
}

.content {
  margin: auto;
}
.home {
  text-align: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding: 2rem 5rem;
}

.flex-3 {
  display: flex;
  padding: 2rem 5rem;
  gap: 5rem;
  justify-content: center;
}
.flex-2 {
    display: flex;
  padding: 2rem 5rem;
  gap: 5rem;
  justify-content: center;
  align-items: baseline;
}

/* ------------------------ */
/* NAVBAR STYLES */
/* ------------------------ */
.navbar {
  padding: 3rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  justify-content: space-between;
}
.active {
  background-color: #396b44;
  color: white;
}
.active:hover {
  color: #333;
}
.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.logo-icon {
  fill: #396b44;
}
.navbar h1 {
  color: #396b44;
}

.nav-link {
  text-decoration: none;
  margin: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  padding: 1rem;
  border-radius: 3rem;
  font-size: 1.8rem;
}
.nav-link:hover {
  background-color: #dee2e6;
}
.nav-link:active {
  opacity: 0.8;
}

/* ------------------------ */
/* HERO STYLES */
/* ------------------------ */

.header {
  margin-bottom: 5rem;
}

.hero-section {
  padding: 10rem 2rem 10rem;
}
.hero-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem;
}
.header-title {
  margin-bottom: 3.2rem;
}
.header-small-text {
  font-weight: 400;
}

.blog-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  box-shadow: 0 0.4rem 0.8rem rgba(13, 13, 13, 0.5);
  border: solid rgb(0, 0, 0) 0.1px;
}

.blog-list .wrapper {
  max-width: 65rem;
  margin-top: 2rem;
  background: #f0f0f0;
  border-radius: 1.5rem;
  padding: 4rem 5rem;
}

.blog-list .wrapper h2 {
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.blog-list .wrapper .home-content {
  margin: 3.5rem 0;
}

.home-content .quote-area {
  display: flex;
  justify-content: center;
}
.quote-area i {
  font-size: 1rem;
}
.quote-area i:first-child {
  margin: 0.3rem 1rem 0 0;
}
.quote-area i:last-child {
  display: flex;
  align-items: flex-end;
  margin: 0 0 0.3rem 1rem;
}
.quote-area .quote {
  text-align: center;
  line-height: 1.6;
}

.home-content .author {
  display: flex;
  font-size: 1.8rem;
  font-style: italic;
  justify-content: flex-end;
  margin-top: 2rem;
}

.author span:first-child {
  margin: -0.7rem 0.5rem 0 0;
  font-family: monospace;
}

.wrapper .buttons {
  border-top: 1px solid #ccc;
}

.buttons .features {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}

.features ul {
  display: flex;
}

.features ul li {
  list-style: none;
  margin: 0 0.5rem;
  display: flex;
  height: 4.7rem;
  width: 4.7rem;
  border: 2px solid #396b44;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.features ul li:hover {
  color: #fff;
  background-color: #67a675;
}
.features button {
  border: none;
  outline: none;
  background-color: #396b44;
  padding: 1.3rem 2.2rem;
  border-radius: 3rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  transition: opacity 0.3s ease;
}
.features button:hover {
  opacity: 0.8;
}
button.loading {
  opacity: 0.8;
  pointer-events: none;
}

/* ------------------------ */
/* BENEFITS STYLES */
/* ------------------------ */

.benefits-section {
  background-color: #f0f0f0;
}

.benefits-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.benefits-header {
  display: inline-block;
  position: relative;
  text-align: left;
}
.benefits-header::after {
  content: "";
  display: block;
  width: 30%;
  height: 0.2rem;
  background-color: #396b44;
  position: absolute;
  bottom: -20%;
  left: 0%;
}
.benefits-text {
  padding: 3rem 3rem 0rem 3rem;
  border-radius: 3rem;
}

.benefits-section .grid-2 li {
  line-height: 1.5;
}

.section-2 {
  padding-bottom: 10rem;
}
.section-1 {
  padding-top: 8rem;
}
.benefits-section .grid-2 {
  text-align: left;
}

.benefits-bold {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.benefits-section h2 {
  margin-bottom: 5rem;
}

.benefits-section ul li:first-child {
  margin-bottom: 30px;
}
.benefits-section img {
  max-width: 80%;
  height: auto;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.benefits-header {
  font-size: 2.8rem;
  margin-top: 0;
}

/* ------------------------ */
/* FEATURES STYLES */
/* ------------------------ */

.features-section {
  padding: 10rem 2rem 10rem;
  background-color: #d0d9d2;
}

.features-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.features-header {
  font-size: 2.8rem;
  margin-bottom: 5rem;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.feature-card {
  max-width: 80rem;
  padding: 3rem;
  border: #b7b6b6 solid 0.1px;
  border-radius: 3rem;
  background-color: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.feature-card h3 {
  margin-bottom: 1rem;
}

.feature-card p {
  color: #666;
  line-height: 1.4;
}
.icons {
  margin-bottom: 1rem;
}

/* ------------------------ */
/* HOW-TO STYLES */
/* ------------------------ */

.how-to-section {
  margin-top: 10rem;
  padding: 0rem 2rem;
}
.how-to-container {
  max-width: 130rem;
  margin: 0 auto;
}

.quote-card {
  max-width: 35rem;
  border-radius: 3rem;
  background-color: #f7f7f7fa;
  text-align: left;
  padding: 5rem 4rem;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border: #e1e1e1 solid 0.1px;
}

.quote-step {
  background-color: #396b44;
  color: white;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
}

.quote-card h3 {
  margin-bottom: 1rem;
  font-weight: bold;
}
.quote-text {
  line-height: 1.4;
  color: #4f4f4f;
  text-align: left;
}

/* ------------------------ */
/* FAQ STYLES */
/* ------------------------ */
.faq-section {
  margin-top: 10rem;
}

.faq-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.faq-question h3 {
  text-align: left;
}

.faq-answer {
  max-width: 96rem;
  line-height: 1.6;
  font-size: 1.8rem;
  text-align: left;
  transition: all 0.3s ease;
}

summary {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  transition: all 0.3s ease;
  cursor: pointer;
  border-left: #396b44 4px solid;
}

details {
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
  color: #396b44;
  border: 1.5px #396b44 solid;
  border-radius: 4rem;
  padding: 1rem 1.7rem;
}

details[open] summary {
  box-shadow: none;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] .faq-answer {
  padding: 0.5em 1em;
}

/* ------------------------ */
/* FOOTER STYLES */
/* ------------------------ */

footer {
  border-top: 1px solid #dfdfdf;
  margin-top: 10rem;
  padding-bottom: 10rem;
}

footer p {
  margin-top: 5rem;
  text-align: center;
  color: rgb(103, 103, 103);
}

/* ------------------------ */
/* GENERATE STYLES */
/* ------------------------ */
.openai {
  padding: 0 5rem;
  max-width: 120rem;
  margin: 0 auto;
}

.openai textarea {
  width: 60%;
  font-size: 1.8rem;
  height: auto;
  padding: 1rem;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}
textarea:focus {
  outline: none;
}

.promptInput {
  margin-bottom: 2rem;
}

.openai button {
  background: #396b44;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  padding: 1.3rem 2.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  border-radius: 3rem;
  transition: opacity 0.3s ease;
}

.openai button:hover {
  opacity: 0.8;
}

.openai button:active {
  opacity: 0.6;
}
textarea {
  margin: 0 auto;
  border-radius: 1rem;
}

#responseArea {
  font-size: 1.8rem;
  margin-top: 3rem;
}

.tone-selector {
  margin-bottom: 20px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.select-container {
  display: flex;
}
select {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  cursor: pointer;
}

.tone-selector {
  font-size: 1.8rem;
}
.quote-container {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  background-color: white;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border: #c4c4c4 solid;
  padding: 3rem;
  border-radius: 3rem;
  justify-content: space-between;
  gap: 2rem;
}

.how-to-container h2 {
  text-align: center;
}
.generator-container {
  text-align: center;
  background-color: #f7f7f7fa;
  border: solid 1px black;
  border-radius: 3rem;
  padding: 2rem;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border: #e1e1e1 solid;
  margin-bottom: 10rem;
}

.input-container {
  display: flex;
  align-items: baseline;
  gap: 5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.input-container label {
  font-size: 1.8rem;
}

#promptInput2 {
  max-width: 10rem;
  padding-left: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.8rem;
  padding: 1rem;
}
.tone-container {
  display: flex;
  gap: 2rem;
  align-items: baseline;
}
.amount-container {
  display: flex;
  align-items: baseline;

  gap: 2rem;
}
.quote-container button {
  background-color: white;
  border: #396b44 2px solid;
  height: 4.7rem;
  width: 4.7rem;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-container {
  display: flex;
  gap: 1rem;
}

.quote-container button:hover {
  background-color: #67a675;
}

.fas {
  font-size: 1.5rem;
}
/* GENERATE */
.steps-container .flex-3 {
  gap: 10rem;
}

.generate-step {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #396b44;
  color: white;
  padding: 2rem;
  border-radius: 50%;
  max-width: 6rem;
  height: 6rem;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.generate-text {
  text-align: center;
  max-width: 25rem;
  color: #606060;
}

.hero2 p {
  text-align: center;
}

.hero2-text {
  font-size: 2rem;
  margin: 4rem 0;
}
.generate-flex2 {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.generate-flex3 {
  display: flex;
  justify-content: space-evenly;
}
.check-text {
  color: #666;
}

/* IMG GENERATE */

.content-container {
  max-width: 130rem;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 10rem 5rem 10rem;
}
.quote-generator-container h1 {
  margin-bottom: 5rem;
}
.openai-link {
  text-decoration: none;
  font-weight: 600;
}
.tip-text {
  font-style: italic;

}