@media (max-width: 65em) {
  html {
    font-size: 55%;
  }
  .header2 {
    margin-top: 2rem;
  }
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }
  .text2 {
    grid-row: 1/2;
  }
  .features {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
  }

  .steps-container .grid-3 {
display: flex;
  }
  .grid-3 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
 align-self: baseline;
  }
 

  .quote-card {
    padding: 3rem;
    margin: 0 auto;
  }
  .benefits-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-1 img {
    margin-bottom: 3rem;
  }

  .benefits-img img {
    max-width: 60%;
    margin-top: 3rem;
    height: auto;
  }

  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0;
    align-items: center;
    width: 100%;
    background-color: #f9f9f9;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }

  .links.show {
    display: flex;
    padding: 5rem;
  }

  .show .hamburger-menu {
    display: none;
  }

  .show .close-menu {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  .features {
    align-items: center;
  }
  .check-text{
    font-size: 1.6rem;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 45%;
  }
  .quote-card {
    max-width: 70rem;
  }

      .generate-flex3 {
 gap: 3rem;
  }
    .check-text{
    font-size: 1.4rem;
  }
}

@media (max-width: 33em) {
  html {
    font-size: 40%;
  }

}
